@import './base.css';

.h22 {

    border-bottom-width: 1px;
    border-bottom-color: rgb(231, 231, 231);
    border-bottom-style: solid;
    
}

.top-10-1 {
    display: grid;
    grid-template-rows: 32px 54px 54px 58px;
    justify-content: center;

    margin-top: 14px;

    padding-top: 20px;
    padding-left: 140px;
    padding-right: 140px;
}

.player-data-titles-1,
.player-data-1 {
    display: grid;
    grid-template-columns: 44px 400px 190px  ;
    column-gap: 14px;
    padding-left: 0;
    padding-right: 10px;

    font-size: 15px;
    color: var(--body_color_faded_tone_2);
}

.player-data-titles-1 {
    font-weight: bold;
    align-items: center;
    
}

.results {
    display: grid;
    grid-template-rows: 32px 46px 36px 36px 36px 36px 36px 
    36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 
    36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px;
    justify-content: center;
    
    margin-top: 14px;


}

.match-data-titles,
.match-data {
    display: grid;
    grid-template-columns: 170px 60px 180px 60px 180px 210px 20px;  
    column-gap: 30px;
    padding-left: 10px;
    padding-right: 10px;
    

    font-size: 15px;
    color: var(--body_color_faded_tone_2);
}

.match-data-titles {
    background-color: var(--back_ground_color_faded_tone_1);
    font-weight: bold;
    align-items: center;
    
    border-top-width: 1px;
    border-top-color: var(--border_color);
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(201, 201, 201);
    border-bottom-style: solid;
}

.match-data {
    align-items: center;

    border-top-width: 1px;
    border-top-color: var(--border_color);
    border-top-style: solid;
}

.right-column {
    margin-left: auto; 
    margin-right: 0;
}

.input-design {
    font-family: Roboto, Arial;
    font-size: 14px;

    padding-top: 8px;
    padding-bottom: 8px;

    border-style: solid;
    border-radius: 4px;
    border-color: rgb(216, 216, 216);
    border-width: 1px;
    transition: all .20s;
}

.input-design:focus {
    height: 20px;
    box-shadow: inset 1px 2px 3px rgba(24, 24, 24, 0.336);
    background-color: rgb(247, 247, 247);

    outline: none !important;
    border:1px solid rgb(110, 110, 110);
    box-shadow: 0 0 10px #c9c9c9c7;
    
}

.results1 {
    display: grid;
    grid-template-columns: auto auto auto; 
    column-gap: 1%;
    justify-content: center;
    align-items: center;
    
    padding-top: 20px;
    padding-bottom: 20px;
}